<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='privacy.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/amiraldo_logo_transparent_white.png') }}">
    <title>Políticas de Privacidade</title>
</head>
<body>
    <div class="row">        
        <div class="col-md-12 mb-5 img_logo">
            <img id="img_useterms" src="{{ url_for('static', filename='images/amiraldo_logo_transparent_white.png') }}" alt="Ícone do Site">   
        </div>
    </div>
    <div class="contain mt-5">
        <h1>
            Política de Privacidade
        </h1>
        <h4>
            Última atualização: [21-12-2024]
        </h4>
        <p>
            Bem-vindo à Política de Privacidade do Dreamwalker Plane, um portal 
            de contos de mistério e jornadas através de mundos desconhecidos. 
            A sua privacidade é extremamente importante para nós. Este documento 
            descreve como tratamos as suas informações e garantimos a proteção 
            dos seus dados durante a sua permanência neste universo.
            Por favor, leia atentamente e continue a explorar nossos contos e 
            imagens com tranquilidade.
        </p>
        <h3>
            1. Princípio da Não Coleta de Dados
        </h3>
        <p>
            No Dreamwalker Plane, acreditamos em uma experiência imersiva e livre de qualquer tipo 
            de coleta de dados pessoais. Navegue livremente por nossos mundos sem se preocupar com 
            rastreamentos ou invasões de privacidade. Não coletamos cookies, dados de navegação, 
            ou qualquer tipo de informação pessoal sem o seu consentimento explícito.
        </p>
        <h3>
            2. Dados Coletados Voluntariamente
        </h3>
        <p>
            Embora o Dreamwalker Plane não colete dados automaticamente, pode haver momentos em que
            você escolha voluntariamente compartilhar informações conosco, como ao entrar em contato
             por e-mail ou ao adquirir um conto. Mesmo nesses casos, as informações fornecidas são 
             usadas exclusivamente para o fim específico, como responder sua mensagem ou processar 
             uma compra. Nenhuma informação é compartilhada com terceiros sem a sua permissão.
        </p>        
        
        <h3>
            3. Aquisição de Contos
        </h3>
        <p>
            Os contos disponíveis no Dreamwalker Plane podem ser adquiridos por meio da plataforma 
            Hotmart, que segue suas próprias diretrizes de privacidade e segurança. Quando você 
            opta por comprar um conto através dessa plataforma, suas informações de pagamento e 
            quaisquer outros dados fornecidos são gerenciados diretamente por ela. Nós não acessamos 
            ou armazenamos essas informações.
        </p>
        
        <h3>
            4. Imagens e Conteúdos
        </h3>
        <p>
            Todas as imagens e ilustrações utilizadas no Dreamwalker Plane são de uso gratuito e 
            são compartilhadas com a devida autorização dos criadores. Respeitamos os direitos 
            dos artistas e, por isso, é fundamental que essas imagens não sejam usadas para fins 
            comerciais sem o devido crédito e permissão.
            Nota sobre os direitos dos autores: as imagens permanecem sob os direitos de seus 
            criadores, e recomendamos que você verifique e siga as diretrizes estabelecidas 
            por cada artista, conforme indicado no portal. Se você deseja utilizar qualquer 
            imagem, é sua responsabilidade garantir o cumprimento das condições dos autores.
        </p>
        <h3>
            5. Segurança dos Dados
        </h3>
        <p>
            Embora a essência do Dreamwalker Plane seja garantir uma navegação sem coleta automática 
            de dados, garantimos que qualquer informação compartilhada voluntariamente é protegida 
            com o mais alto nível de segurança. Utilizamos medidas técnicas adequadas para evitar 
            qualquer perda, roubo, ou acesso não autorizado a esses dados.
        </p>
        <h3>
            6. Links para Sites de Terceiros
        </h3>
        <p>
            O portal Dreamwalker Plane pode conter links para plataformas de terceiros, 
            como a Hotmart, para facilitar a aquisição de contos. Essas plataformas têm suas 
            próprias políticas de privacidade e não são controladas por nós. Recomendamos 
            que você leia as políticas de privacidade desses sites antes de fornecer qualquer informação.
        </p>
        <h3>
            7. Alterações a Esta Política
        </h3>
        <p>
            Assim como o universo do Dreamwalker Plane, nossa Política de Privacidade pode 
            evoluir ao longo do tempo. Sempre que houver alterações, a data da última atualização 
            será revisada no topo desta página. Sugerimos que você consulte periodicamente 
            esta seção para estar ciente de possíveis mudanças.
        </p>
        <h3>
            8. Contato
        </h3>
        <p>
            Se você tiver dúvidas sobre nossa Política de Privacidade, os contos, imagens, 
            ou quiser compartilhar uma ideia, estamos à disposição. Sinta-se à vontade 
            para nos contatar pelo e-mail amiraldorodriguesmdix@gmail.com. Estamos sempre 
            dispostos a ouvir e melhorar a sua experiência no Dreamwalker Plane.
        </p>
        <h3>
            9. Legislação Aplicável
        </h3>
        <p>
            Esta Política de Privacidade é regida pelas leis de Portugal e pelas normas da União 
            Europeia, em especial o Regulamento Geral de Proteção de Dados (RGPD). 
            Ao navegar no portal, você concorda que qualquer disputa ou questão relacionada 
            à privacidade será resolvida nas jurisdições competentes de Portugal.
        </p>

        <p>
            Explore os mistérios do Dreamwalker Plane com segurança e tranquilidade. 
            Aqui, seu tempo é respeitado, sua privacidade é protegida, e suas jornadas são 
            livres para serem vividas como você desejar.
        </p>
        <p>
            Essa política reflete os valores do Dreamwalker Plane, com foco em privacidade, 
            liberdade de exploração, respeito aos criadores, e responsabilidade no uso das 
            imagens e contos.
        </p>
    
    </div>

    <footer class="text-white text-center py-3 mt-5">        
        <div id="text-footer">
            <p>&copy;<span id="current-year"></span><a href="" target="_blank"> Amiraldo Rodrigues.</a> Todos os direitos reservados.</p>            
            <ul class="footer-links">
                <li><a href="{{ url_for('politica')}}" target="_blank">Política de Privacidade</a></li>
                <li><a href="{{ url_for('termosuso')}}" target="_blank">Termos de Uso</a></li>
            </ul>
        </div>
    </footer>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
</body>